# Default values for kiem-job.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.


cluster_job:
  owner: public.ecr.aws/k9v9d5v2
  repository: cluster-job
  tag: "latest"
  image: ""

kiem:
  owner: accuknox
  repository: kiem
  tag: "latest"
  image: ""

# To use existing secret updated {registry.secretName} with your secret name.
registry: 
  url: ""
  secretName: ""
  username: ""
  password: ""
  preserveUpstream: true


replicaCount: 1

authToken: "NO-TOKEN-SET"
URL: "cspm.domain-url.com"
tenantID: ""
cronTab: "30 9 * * *"
clusterName: ""
label: ""
secretName: ""


authTokenPath: "/secrets/tokens/AUTH_TOKEN"
joinTokenPath: "/secrets/tokens/JOIN_TOKEN"

spireServer: "localhost"
spirePort: 8081
joinToken: ""
GatewayServer: "kgw:8080"
spireConfigFile: "/jobs/spire/agent.conf"
