# Default values for k8s-risk-assessment-job.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

cluster_job:
  owner: public.ecr.aws/k9v9d5v2
  repository: cluster-job
  tag: "latest"
  image: ""

kubescape:
  owner: quay.io/kubescape
  repository: kubescape-cli
  tag: "v3.0.8"
  image: ""

# To use existing secret updated {registry.secretName} with your secret name.
registry: 
  url: ""
  secretName: ""
  username: ""
  password: ""
  preserveUpstream: true

replicaCount: 1

authToken: "NO-TOKEN-SET"
URL: "cspm.domain-url.com"
tenantID: ""
cronTab: "30 9 * * *"
clusterName: ""
clusterID: 0
label: ""
secretName: ""
certBundlePath: ""  # Set this for cert local path if needed .
certBundleURL: ""  # Set this for cert URL if needed (if certBundlePath is set as well certBundlePath will take precedent)
useInsecureConnection: false  # Set to true if insecure connection is needed
airgapped: true
