# Default values for k8s-risk-assessment-job.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

cluster_job:
  owner: public.ecr.aws/k9v9d5v2
  repository: cluster-job
  tag: "latest"
  image: ""

kubescape:
  owner: quay.io/kubescape
  repository: kubescape-cli
  tag: "v3.0.8"
  image: ""

# To use existing secret updated {registry.secretName} with your secret name.
registry: 
  url: ""
  secretName: ""
  username: ""
  password: ""
  preserveUpstream: true

replicaCount: 1

global:
  authToken: ""
  enableJobsUrl: false
  tenantID: ""
  cronTab: ""
  clusterName: ""
  clusterID: 0
  label: ""
  secretName: ""
  airgapped: true
