# Default values for k8tls-job.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

cluster_job:
  owner: public.ecr.aws/k9v9d5v2
  repository: cluster-job
  tag: "latest"
  image: ""

k8tls:
  owner: kubearmor
  repository: k8tls
  tag: "latest"
  image: ""

# To use existing secret updated {registry.secretName} with your secret name.
registry: 
  url: ""
  secretName: ""
  username: ""
  password: ""
  preserveUpstream: true

authToken: "NO-TOKEN-SET"
cronTab: "30 9 * * *"
tenantID: ""
clusterName: ""
label: ""
URL: "cspm.domain-url.com"
secretName: ""
certBundlePath: ""  # Set this for cert local path if needed .
certBundleURL: ""  # Set this for cert URL if needed (if certBundlePath is set as well certBundlePath will take precedent)
useInsecureConnection: false  # Set to true if insecure connection is needed