# Default values for k8tls-job.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

k8tls:
  image:
    repository: kubearmor/k8tls
    tag: "latest"

accuknoxJob:
  image:
    repository: accuknox/accuknox-job
    tag: "latest"

# To use existing secret updated {imagePullSecrets.name} with your secret name.
imagePullSecrets:
  name: ""
  registry: ""
  username: ""
  password: ""

accuknox:
  authToken: "NO-TOKEN-SET"
  cronTab: "30 9 * * *"
  tenantID: ""
  clusterName: ""
  label: ""
  URL: "cspm.domain-url.com"
  secretName: ""
