# Default values for cis-k8s-job.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.


accuknoxJob:
  image:
    repository: accuknox/accuknox-job
    tag: "latest"

kubeBench:
  image:
    repository: docker.io/aquasec/kube-bench
    tag: "v0.9.1"

# To use existing secret updated {imagePullSecrets.name} with your secret name.
imagePullSecrets:
  name: ""
  registry: ""
  username: ""
  password: ""

toolConfig:
  platform: ""
  nodeType: "worker"
  targets: ""
  benchmark: ""
  check: ""
  skip: ""

accuknox:
  authToken: "NO-TOKEN-SET"
  cronTab: "30 9 * * *"
  clusterName: ""
  label: ""
  clusterId: ""
  tenantId: ""
  url: "cspm.domain-url.com"
  secretName: ""
