# Default values for cis-k8s-job.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

cluster_job:
  owner: public.ecr.aws/k9v9d5v2
  repository: cluster-job
  tag: "latest"
  image: ""

kubeBench:
  owner: docker.io/aquasec
  repository: kube-bench
  tag: "v0.9.1"
  image: ""

# To use existing secret updated {registry.secretName} with your secret name.
registry: 
  url: ""
  secretName: ""
  username: ""
  password: ""
  preserveUpstream: true

toolConfig:
  platform: ""
  nodeType: "worker"
  targets: ""
  benchmark: ""
  check: ""
  skip: ""

authToken: "NO-TOKEN-SET"
cronTab: "30 9 * * *"
clusterName: ""
label: ""
clusterId: ""
tenantId: ""
url: "cspm.domain-url.com"
secretName: ""


authTokenPath: "/secrets/tokens/AUTH_TOKEN"
joinTokenPath: "/secrets/tokens/JOIN_TOKEN"

spireServer: "localhost"
spirePort: 8081
joinToken: ""
GatewayServer: "kgw:8080"
spireConfigFile: "/jobs/spire/agent.conf"